.slide#ideas .info h2 {
	margin-top:0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

.spaced {
    position:relative;
    top:3em;
}

.event-datetime {
    font-size:2em;
    font-weight:300;
}

.slide#ideas .info h2 {
    opacity:0.9;
    margin-bottom:0.8em;
}

.splash {
    position:relative;
    top:0.5em;
    font-size:3em;
    font-weight:bold;
}

#feature_slider {
    font-family:'Lato', sans-serif;
}
